*,
html{
    margin: 0;
    padding: 0;
}

.container {}

.container-navbar {
    background-color: blue;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: red;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

.a-navbar {
    color:white;
    text-decoration: none;
    font-weight: 900;
}

.container-content {
    background-color: #ff06a0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    width: 620px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: -32px 35px 0px 4px rgba(0,0,0,0.51);
-webkit-box-shadow: -32px 35px 0px 4px rgba(0,0,0,0.51);
-moz-box-shadow: -32px 35px 0px 4px rgba(0,0,0,0.51);
}

.img-content {
    width: 50%;
    height: 50%;
}

.klik-content1 {
    color: blue;
}

.container-footer {
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
    color: white;
}